@keyframes slide {
  0% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.button_shimmer {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.4) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  animation: slide 5s infinite;
}
