@keyframes move-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move-down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bubble_container {
  backdrop-filter: blur(32px);
  transition-timing-function: ease-out;
}

.move_up {
  animation: move-up 6s infinite;
}
.move_down {
  animation: move-down 6s infinite;
}
